body{
    margin: 0 auto;
    width: 1080px;
}
#register_box{
    width: 250px;
    border: 2px solid black;
    background-color: rgb(72, 71, 71);
    color: white;
}


#welcome_sign{
    font-size: 100px;
}
a{
    border: 2px solid black;
}
#login{
    border: 2px solid black;
    width: 250px;
    background-color: rgb(72, 71, 71);
    color: white;

}